@using MVCForum.Models
@model List<Kategori>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Forum</title>
    <link rel="stylesheet" href="~/Theme/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--NavBar Section-->
        @Html.Action("Navbar","Home")

    </header>
    <div class="container">

        @foreach (var kategori in Model)
        {
            <div class="subforum">
                <div class="subforum-title">
                    <h1><a href="/Home/KategoriKonulari/@kategori.KategoriID">@kategori.KategoriAdi</a></h1>
                </div>
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="/Home/KonuIcerik/@kategori.Konus.Select(x => x.KonuID).FirstOrDefault()">@kategori.Konus.Select(x => x.KonuBaslik).FirstOrDefault()</a></h4>
                        <p> @kategori.Konus.Select(x => x.KonuIcerik).FirstOrDefault()</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span> @kategori.Konus.Select(x => x.Yorums.Count()).FirstOrDefault() Toplam Mesaj Sayısı | @kategori.Konus.Select(x => x.KategoriID).Count() Toplam Konu Sayısı</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">@kategori.Konus.Select(x => x.Uyeler.UyeAdi).FirstOrDefault() @kategori.Konus.Select(x => x.Uyeler.UyeSoyadi).FirstOrDefault()  </a></b> tarafından
                    </div>
                </div>
            </div>
        }

        <!--More-->
        <!---->
    </div>

    <!-- Forum Info -->
    <div class="forum-info">
        <div class="chart">
            Forum - İstatisik &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>@ViewBag.UyeSayisi</u> Üyeden <u>@ViewBag.KonuSayisi</u> Konuda Toplam <u>@ViewBag.MesajSayisi</u> Mesaj  </span><br>
    </div>

    <footer>
        <span>&copy;  Selmi Abderrahim | All Rights Reserved</span>
    </footer>
    <script src="~/Theme/main.js"></script>
</body>
</html>
