@using MVCForum.Models
@using PagedList.Mvc
@using PagedList
@model PagedList<Konu>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Forum - @ViewBag.kategoriadi</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Theme/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--NavBar Section-->
        @Html.Action("Navbar", "Home")
        <!--SearchBox Section-->
    </header>
    <div class="container">
        <!--Navigation-->
        <div class="navigate">
            <span><a href="/Home/Index">MVC Forum</a> >> <a href=""> @ViewBag.kategoriadi</a></span>
        </div>
        @if (User.Identity.IsAuthenticated == true)
        {
            <a href="/Home/KonuOlustur/@ViewBag.kategoriid"> Konu Aç  </a>
        }

        <!--Display posts table-->
        <div class="posts-table">
            <div class="table-head">
                <div class="status">Durum</div>
                <div class="subjects">Konu Başlığı</div>
                <div class="replies">Yanıtlar</div>
                <div class="last-reply">Son Yanıt</div>
            </div>
            @foreach (var konular in Model)
            {
                <div class="table-row">
                    <div class="status"><i class="fa fa-fire"></i></div>
                    <div class="subjects">
                        <a href="/Home/KonuIcerik/@konular.KonuID">@konular.KonuBaslik</a>
                        <br>
                    </div>
                    <div class="replies">
                        @konular.Yorums.Select(x => x.YorumIcerigi).Count() <br>
                    </div>

                    <div class="last-reply">
                        @if (@konular.Yorums.Select(x => x.YorumIcerigi).Count() == 0)
                        {
                            <b><a>Yanıt Yok</a></b>
                        }
                        else
                        {
                            <b><a>@konular.Yorums.Select(x => x.Uyeler.UyeAdi).LastOrDefault()</a> tarafından</b>
                        }
                    </div>
                </div>
            }

            <!--starts here-->
            <!--ends here-->
        </div>




        <!--Pagination starts-->
        <div class="pagination">
            @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("KategoriKonulari", "Home", new { sayfa }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        <!--pagination ends-->
        

    </div>
    <footer>
        <span>&copy;  Selmi Abderrahim | All Rights Reserved</span>
    </footer>
    <script src="~/Theme/main.js"></script>
</body>
</html>